.headerContainer {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-content: center;
    align-self: center;
    align-self: center;
}

.headerBlurb {
    width: 45%;
    align-content: center;
    
}

.headerSqwee {
    width: 50%;
}