.menubarContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--darkGreen);
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    z-index: 10;
    position: fixed;
    opacity: 95%;
}

.menunames {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
}

.menunames h5 {
    color: white;
}

.menu:hover {
    color: var(--orange);
}