.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 6rem;
    padding-right: 6rem;
    padding-left: 6rem;
    padding-bottom: 0;
    min-height: 100vh;
    background-color: var(--bone);
  }

  .header {
    border-bottom: 2px solid var(--orange);
    margin-top: 40px;
    padding-bottom: 10px;
  }

.logoVariations{
  display: flex;
 flex-wrap: wrap;
 gap:8rem;
 justify-content: center;
}

.colourLogo{
  margin-top: 6rem;
 
  display: inline-block;
 
}

.blackWhiteHeader{
  margin-bottom:3rem;
  float: left;
}
.monochromeHeader{
  margin-bottom:3rem;
  float: left;
}
.verticalHeader{
  margin-bottom:3rem;
  float: left;
}
.colourHeader{
  float: left;
  margin-right:6rem;
  margin-top:14.5rem;
}
.grayHeader{
  margin-bottom:3rem;
  float: left;
}
.faviconContainer{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-top:5rem;
  
  justify-content: center;
  
}

.faviconHeader{
  margin-bottom:1.5rem;
  margin-top:1rem;
}
.faviconTitle{
  margin-right: 5rem;
 
}
.incorrectUsageHeader{
  border-bottom: 2px solid var(--darkGreen);
  width:100%;
  margin-top:6rem;
  
}
.incorrectUsageExample{
  margin-top: 6rem;
  margin-bottom:2rem;
}
.incorrectUsageContainer{
  display: flex;
 flex-direction: row;
 justify-content: space-around;
 margin-bottom: 7.7rem;
}
.squishedlogo{
  padding:20px;
  
}

.clearSpaceLogo{
  border: 4px dashed #c4b18e;
  padding:24px;
 display:inline-block;
}
.rationale {
  margin-right: 36.3rem;
  border-bottom: 2px solid var(--darkGreen);
  width:100%;
  
}

.logoDescription {
  margin-top:2rem;
    padding: 30px;
    width: 40%;
   float: left;
   margin-left:2rem;
}
.clearSpaceHeader{
  margin-bottom:1rem;
}
.verticalClearSpace{
 margin-top:2rem;
}
.spaceImagesContainer{
  display: flex;
  flex-direction: column;
margin-top:2.3rem;
margin-left:2rem;
align-items: center;

}