.sectionHead {
    border-bottom: 2px solid var(--orange);
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.inconography {
    display: flex;
    flex-direction: row;
}

.inconography h3{
    padding-bottom: 20px;
}

.iconsContainer {
    width: 50%;
    padding: 30px;
}

.navBarContainer {
    width: 50%;
    padding: 30px;
}

.buttonsContainer {
    padding: 30px;
}

.iconsList {
    list-style: none;
    margin-top: 30px;
}

.iconsList li {
    align-self: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.iconsListContainer {
    text-align: center;
}

.navBar {
    text-align: center;
    margin-top: 20px;
}

.navBarDescription {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
}

.buttonsColumns {
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
}

.buttonsActive {
    width: 33%
}

.buttonsPress {
    width: 33%
}

.buttonsDisabled {
    width: 33%
}

.buttonsContainer h3 {
    padding-bottom: 20px;
}

