.layoutHeader {
    border-bottom: 2px solid var(--orange);
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.layoutContainer {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-content: center;
    align-items: center;
    margin-left: 40px;;
}

.layoutContainer h3 {
    padding-bottom: 20px;
}

.layoutContainer p {
    padding-bottom: 40px;
    align-content: center;
}

.imageOne {
    width: 30%;
}

.imageTwo {
    width: 30%;
}

.layoutText {
    width: 40%;
    margin-right: 70px;
}