.typography {
    display: flex;
    flex-direction: row;
}

.typography h3{
    padding-bottom: 20px;
}

.typescaleDetails {
    list-style: none;
}

.typescaleDetails h3 {
    padding-bottom: 0;
}

.typscale {
    width: 50%;
    padding: 30px;
}

.rationale {
    width: 50%;
    padding: 30px;
}

.typescaleDetails h1 {
    padding-bottom: 0px;
}

.sectionHead {
    border-bottom: 2px solid var(--orange);
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.bodyCopy {
    font-weight: 700;
}

