.sectionHead {
    font-family: var(--font-koho);
    font-size: 3rem;
    color: var(--black);
}

.typscale {
    font-family: var(--font-koho);
    font-size: 2.5rem;
}

.typescaleDetails {
    list-style: none;
}