.typography {
    display: flex;
    flex-direction: row;
}

.typography h3{
    padding-bottom: 20px;
}

.typescaleDetails {
    list-style: none;
}

.typscale {
    padding-bottom: 40px;
    width: 45%;
    padding-right: 10px;
}

.rationale {
    padding-bottom: 40px;
    width: 45%;
    padding-left: 10px;
}

.typescaleDetails h1 {
    padding-bottom: 0px;
}

.sectionHead {
    border-bottom: 2px solid var(--orange);
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.bodyCopy {
    font-weight: 700;
}

