.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 6rem;
  padding-right: 6rem;
  padding-left: 6rem;
  padding-bottom: 0;
  min-height: 100vh;
  background-color: var(--bone);
}