.footer{
    bottom: 0;
    position: absolute;
    width: 100%;
}

.footerContainer {
    height: 20px;
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: var(--darkGreen);
}